{%extends 'base.html'%}
{% block content %}
    <div class="container" style="margin-top: 3%">
        <nav aria-label="Page navigation" style="margin-bottom: 5%; margin-top: -1%;">
            <ul class="pagination justify-content-center">
                
                <a class="page-link" href="{{page_num-1}}" tabindex="-1">Previous</a>
                <a class="page-link" href="{{page_num+1}}">Next</a>
                </li>
            </ul>
        </nav>

        {% for att in attractions %}
            <div class="card shadow-lg mb-3" style="margin-bottom: 5%;">
                <img src="{{att.image_link}}" class="card-img-top img-fluid">
                <div class="card-body">
                    <h2 class="card-title font-weight-bold">{{att.name}}</h2>
                    <p class="card-text font-weight-bold">{{att.location}}</p>
                    <p class="card-text">{{att.description}}</p>
                    <a href="{{att.link}}">
                        <button class="btn btn-primary btn-block">More Information</button>
                    </a>
                </div>
            </div>
            {% endfor %}

        
    </div>
    <script>
        document.getElementById("attractions_nav").className += " active";
    </script>
{% endblock content %}