{%extends 'base.html'%}
{% block content %}
    <div class="container" style="margin-top: 3%;">
        <nav aria-label="Page navigation" style="margin-bottom: 5%; margin-top: -1%;">
            <ul class="pagination justify-content-center">
                <a class="page-link" href="{{page_num-1}}" tabindex="-1">Previous</a>
                <a class="page-link" href="{{page_num+1}}">Next</a>
                </li>
            </ul>
        </nav>
        {% for event in events %}
        <div class="card shadow-lg mb-3">
            <img src="" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{event.title}}</h5>
                <p class="card-text">{{event.user.username}}</p>
                <p class="card-text">{{event.description}}</p>
                <a href="">
                    <button class="btn btn-primary btn-block">More Information</button>
                </a>
            </div>
        </div>
        {% endfor %}

        <div class="card shadow-lg mb-3">
            <img src="" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Event title2</h5>
                <p class="card-text">Event hoster2</p>
                <p class="card-text">Event description2</p>
                <a href="">
                    <button class="btn btn-primary btn-block">More Information</button>
                </a>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("events_nav").className += " active";
    </script>
{% endblock content %}