{%extends 'base.html'%}
{% block content %}
<div class="container" style="margin-top: 3%;">
        <nav aria-label="Page navigation" style="margin-bottom: 3%; margin-top: -1%;">
                <ul class="pagination justify-content-center">
                    <a class="page-link" href="{{page_num-1}}" tabindex="-1">Previous</a>
                    <a class="page-link" href="{{page_num+1}}">Next</a>
                </li>
            </ul>
        </nav>

        <div style="margin-bottom: 2%;">
            <a href="{{url_for('create_event')}}">
                <button class="btn btn-block btn-primary">Create Event</button>
            </a>
        </div>

        {% for event in events %}
        <div class="card shadow-lg mb-3">
            <h2 class="card-header">{{event.title}}</h2>
            <div class="card-body">
                <p class="card-text font-weight-bold text-capitalize">
                    Hosted by <a href="/profile/{{event.user.id}}">{{event.user.username}}</a>
                </p>
                <p class="card-text">Location: {{event.location}}</p>
                <p class="card-text">{{event.start_date}} - {{event.start_date}}</p>
                <p class="card-text">{{event.description}}</p>
            </div>
        </div>
        {% endfor %}

    <script>
        document.getElementById("events_nav").className += " active";
    </script>
{% endblock content %}