{%extends 'base.html'%}
{% block content %}
    <div class="container" style="margin-top: 3%">
        <div class="row">
            <div class="col-3">
                <div class="card shadow-lg">
                    <h5 class="card-header">[NAME]</h5>
                    <div class="card-body">
                        <p class="card-text">idk what to put here</p>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="card shadow-lg mb-3">
                    <img src="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Event title2</h5>
                        <p class="card-text">Event hoster2</p>
                        <p class="card-text">Event description2</p>
                        <a href="">
                            <button class="btn btn-primary btn-block">More Information</button>
                        </a>
                    </div>
                </div>

                <div class="card shadow-lg mb-3">
                    <img src="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Event title2</h5>
                        <p class="card-text">Event hoster2</p>
                        <p class="card-text">Event description2</p>
                        <a href="">
                            <button class="btn btn-primary btn-block">More Information</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}