{%extends 'base.html'%}
{% block content %}
    <div class="container" style="margin-top: 3%">
        <div class="row">
            <div class="col-3">
                <div class="card shadow-lg mb-3">
                    <h5 class="card-header">{{current_user.username}}</h5>
                    <div class="card-body">
                        <p class="card-text">{{current_user.email}}</p>
                    </div>
                </div>

                <a href="/create_event">
                    <button class="btn btn-primary btn-block mb-3">Create Event</button>
                </a>

                <div class="card shadow-lg" style="margin-top: 10%;">
                    <h5 class="card-header">Following</h5>
                    <div class="card-body">
                        
                        {% for fol in user.get_following() %}
                            <p class="card-text">{{ fol.username }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="card shadow-lg" style="margin-top: 10%;">
                    <h5 class="card-header">Followers</h5>
                    <div class="card-body">
                        {% for follower in user.followers %}
                            <p class="card-text">{{follower.username}}</p>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <div class="col-9">
                {% for event in user.get_events() %}
                    <div class="card shadow-lg mb-3">
                        <h2 class="card-header">{{event.title}}</h2>
                        <div class="card-body">
                            <p class="card-text font-weight-bold text-capitalize">Hosted by {{event.user.username}}</p>
                            <p class="card-text">Location: {{event.location}}</p>
                            <p class="card-text">{{event.start_date}} - {{event.start_date}}</p>
                            <p class="card-text">{{event.description}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}