{%extends 'base.html'%}
{% block content %}
<h1>{{title}}</h1>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <p>
        Username: {{form.username}} <br>
        {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        Email: {{form.email}}
        {% for error in form.email.error%}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        Password: {{form.password}} <br>
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

            Confirm Password: {{form.password2}}
        {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    
    <p> <input type="submit" value="Sign in"></input> </p>
</form>
{% endblock content %}